<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idfortitu.preteurnew">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_nameMain"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityAdd"
            android:label="@string/app_activityadd">
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ActivityCheck"
            android:label="@string/app_activitycheck">
        </activity>
        <activity
            android:name=".ActivityPret"
            android:label="@string/app_activitypret">
        </activity>
        <activity
            android:name=".AdapterListView"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>